.principal__curriculo {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.curriculo {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.subtitulo {
    padding-bottom: 1.5%;
    border-bottom: 1px solid var(--color-terciary);
}

.informacoes,
.informacoes__card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.lista {
    list-style: none;
}

.lista li {
    padding-bottom: 8%;
}

.informacoes__legenda {
    color: var(--color-legend);
    font-size: var(--font-size-legenda);
    font-family: var(--font-secundary);
}

.informacoes__subtitulo {
    font-size: var(--font-size-subtitle);
    font-family: var(--font-secundary);
    font-weight: 600;
}

.informacoes__link {
    color: var(--color-terciary);
    font-size: var(--font-size-legenda);
    font-family: var(--font-secundary);
}

.informacoes__cards {
    display: flex;
    justify-content: space-between;
}

.informacoes__card {
    width: 20%;
}