.principal__curriculo,
.curriculo,
.informacoes,
.lista {
    display: flex;
    flex-direction: column;
}

.principal__curriculo {
    gap: 40px;
}

.curriculo {
    gap: 24px;
}

.subtitulo {
    padding-bottom: .5%;
    border-bottom: 1px solid var(--color-terciary);
}

.informacoes {
    gap: 10px;
}

.informacoes__legenda,
.informacoes__link {
    font-size: var(--font-size-legenda);
    font-family: var(--font-secundary);
}

.informacoes__legenda {
    color: var(--color-legend);
}

.informacoes__subtitulo {
    font-size: var(--font-size-subtitle);
    font-family: var(--font-secundary);
    font-weight: 600;
}

.informacoes__link {
    color: var(--color-terciary);
}

.lista {
    padding-left: 16px;
    gap: 8px;
}

.informacoes__cards {
    display: flex;
    justify-content: space-between;
}

.informacoes__card {
    width: 20%;
}

@media (max-width: 1120px) {
    .informacoes__cards {
        flex-wrap: wrap;
        gap: 32px;
    }

}