:root {
    --color-primary: #0e0e0e;
    --color-secundary: #FAFAFA;
    --color-terciary: #22D4FD;
    --color-hover: #131313;
    --color-legend: #B2B2B2;

    --font-primary: 'Krona One', sans-serif;
    --font-secundary: 'Montserrat', sans-serif;

    --font-size-title-destaque: 32px;
    --font-size-title: 24px;
    --font-size-subtitle: 20px;
    --font-size-text: 16px;
    --font-size-legenda: 14px;
}