:root {
    --color-primary: #0e0e0e;
    --color-secundary: #FAFAFA;
    --color-terciary: #22D4FD;
    --color-hover: #131313;
    --color-legend: #B2B2B2;

    --font-primary: 'Krona One', sans-serif;
    --font-secundary: 'Montserrat', sans-serif;

    --font-size-title-destaque: 2rem;
    --font-size-title: 1.5rem;
    --font-size-subtitle: 1.25rem;
    --font-size-text: 1rem;
    --font-size-legenda: .9rem;
}